html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}

q {
  quotes: '\201c' '\201d';
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

.testimonial {
  margin: 1.4375rem 1.4375rem 0px 1.4375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 30rem) {
  .testimonial {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.testimonial__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: auto;
  height: 21.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.625rem;
}

@media screen and (min-width: 30rem) {
  .testimonial__profile {
    height: 41.25rem;
  }
}

.testimonial__profile__background {
  background-image: url(/images/pattern-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 20.5625rem;
  height: 19.375rem;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 30rem) {
  .testimonial__profile__background {
    width: 43.75rem;
    height: 41.25rem;
  }
}

.testimonial__profile__picture {
  position: absolute;
  background-image: url(/images/image-tanya.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 16.0625rem;
  height: 16.0625rem;
  top: 2.875rem;
  -webkit-box-shadow: 4px 21px 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 21px 20px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 30rem) {
  .testimonial__profile__picture {
    width: 33.875rem;
    height: 33.875rem;
    top: 63px;
    -webkit-box-shadow: 4px 32px 19px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 32px 19px -5px rgba(0, 0, 0, 0.2);
  }
}

.testimonial__profile__picture2 {
  position: absolute;
  background-image: url(/images/image-john.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 16.0625rem;
  height: 16.0625rem;
  top: 2.875rem;
  -webkit-box-shadow: 4px 21px 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 21px 20px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 30rem) {
  .testimonial__profile__picture2 {
    width: 33.875rem;
    height: 33.875rem;
    top: 63px;
    -webkit-box-shadow: 4px 32px 19px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 4px 32px 19px -5px rgba(0, 0, 0, 0.2);
  }
}

.testimonial__profile__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  width: 5.125rem;
  height: 2.625rem;
  background-color: white;
  border-radius: 1.25rem;
  bottom: 1.125rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1px 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 20px -5px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 30rem) {
  .testimonial__profile__slider {
    bottom: 35px;
    left: 175px;
    width: 114px;
    height: 57px;
    border-radius: 55px;
    -webkit-box-shadow: 1px 20px -5px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 20px -5px rgba(0, 0, 0, 0.2);
  }
}

.testimonial__profile__slider__previous {
  background-image: url(/images/icon-prev.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 0.6875rem;
  height: 0.875rem;
  cursor: pointer;
}

.testimonial__profile__slider__previous:hover {
  padding: 5px;
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
          filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

@media screen and (min-width: 30rem) {
  .testimonial__profile__slider__previous {
    width: 13px;
    height: 20px;
  }
}

.testimonial__profile__slider__next {
  background-image: url(/images/icon-next.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 0.6875rem;
  height: 0.875rem;
  cursor: pointer;
}

.testimonial__profile__slider__next:hover {
  -webkit-filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
          filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

@media screen and (min-width: 30rem) {
  .testimonial__profile__slider__next {
    width: 13px;
    height: 20px;
  }
}

.testimonial__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonial__desc__pattern {
  background-image: url(/images/pattern-quotes.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 3.8125rem;
  height: 3.1875rem;
  position: absolute;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (min-width: 30rem) {
  .testimonial__desc__pattern {
    width: 7.5rem;
    height: 6.25rem;
    top: 187px;
    left: 197px;
  }
}

.testimonial__desc__description {
  position: relative;
  top: 0.4375rem;
}

.testimonial__desc__description p {
  font-weight: 300;
  font-size: 1.1875rem;
  text-align: center;
}

@media screen and (min-width: 30rem) {
  .testimonial__desc__description p {
    position: relative;
    width: 592px;
    left: 131px;
    font-size: 1.875rem;
    text-align: left;
  }
}

@media screen and (min-width: 30rem) {
  .testimonial__desc__description .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    left: 131px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.testimonial__desc__description .profile .name {
  text-align: center;
  color: #202046;
  font-size: 1.125rem;
  font-weight: 700;
}

@media screen and (min-width: 30rem) {
  .testimonial__desc__description .profile .name {
    margin-right: 8px;
  }
}

.testimonial__desc__description .profile .jobs {
  text-align: center;
  color: #babacf;
  font-size: 1.0625rem;
  font-weight: 300;
  margin-bottom: 0.4375rem;
  font-weight: 500;
}

@media screen and (min-width: 30rem) {
  .testimonial__desc__description .profile .jobs {
    margin-bottom: 0;
  }
}

.testimonial .pattern {
  position: relative;
  -ms-flex-item-align: baseline;
      align-self: baseline;
  left: -23px;
  background-image: url(/images/pattern-curve.svg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 17.5rem;
  height: 4.5rem;
}

@media screen and (min-width: 30rem) {
  .testimonial .pattern {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 600px;
    height: 155px;
  }
}

.hide-testimonial {
  display: none;
}
/*# sourceMappingURL=style.css.map */